<div class= "container">
  <div class= "row">
    <div class= "col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div id="user-data"
             ngModelGroup="userdata"
            #userdata="ngModelGroup">
              <div class="form-group">
                <label for="username">UserName</label>
                <input type="text"
                 id="username"
                 class="form-control"
                 ngModel
                 name="username"
                 required>
              </div>
              <button class="btn btn-default"
              (click)="suggestUserName()"
               type="button">Suggest an username</button>
              <div class="form-group">
                <label for="email">Mail</label>
                <input type="email"
                 id="email"
                 class="form-control"
                 ngModel
                 name="email"
                 required
                 email
                 #email= "ngModel">
              </div>
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
            <p *ngIf="!userdata.valid && userdata.touched">Please enter valid user Data!</p>
              <div class="form-group">
                <label for="secret">Secret Question</label>
                <select id="secret"
                 class="form-control"
                 [ngModel]="defaultQuestion"
                 name="secret">
                  <option value="pet">Your first pet?</option>
                  <option value="teacher">Your first teachers?</option>
                </select>
              </div>
              <div class="form-group">
                <textarea
                name="questionAnswer"
                class="form-control"
                rows="3"
                [(ngModel)]="answer"></textarea>
              </div>
              <p>Your input: {{ answer }}</p>
              <div class="radio"
              *ngFor="let gender of genders">
              <label>
                <input
                type="radio"
                name= "gender"
                ngModel
                [(value)]="gender">
                {{ gender }}
              </label>
            </div>

              <button class="btn btn-primary"
               type="submit"
               [disabled]='!f.valid'>Submit</button>
          </form>
        </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>UserName: {{ user.username }}</p>
      <p>Mail: {{ user.email}} </p>
      <p>Secret Question: {{ user.secretQuestion }} </p>
      <p>Your Answer: {{ user.answer}} </p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>


